.about {
    width: 100%;
    height: 110vh;
    position: relative;
    background-color: #02163D;
    z-index: 1;
    padding: 50px 0px;

    .container {
        position: relative;
    }

    &_image {
        position: absolute;
        right: 0;
        top: 30px;
    }

    &_picture {
        position: absolute;
        left: 0;
        bottom: 30px;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 0;
        gap: 30px;

        &_content {
            width: 30%;
            border-radius: 6px;

            h2 {
                font-weight: 400;
                font-style: Regular;
                font-size: 45px;
                line-height: 120%;
                letter-spacing: 1%;
                color: white;
            }
        }

        &_item {
            width: 30%;
            height: 250px;
            padding: 30px;
            background: #1247954D;
            border: 1px solid #355687;
            backdrop-filter: blur(30px);
            border-radius: 10px;

            &_img {
                width: 60px;
                height: 60px;
                border-radius: 6px;
                background-color: #124795;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &_wife{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                }
            }
        }

        .about_list_button {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                margin-top: 20px;
            }
        }
    }

    span {
        font-weight: 600;
        font-style: Regular;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0%;
        color: white;
    }

    p {
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #C3E0FF;
        margin-top: 30px;
    }
}